<div class="container">
  <div [className]="'container-image'">
    <img src="assets/images/logo-rec.png" alt="logo image" routerLink="" />
  </div>

  <form #form="ngForm" (ngSubmit)="handleSubmit()">
    <div [className]="'separator'">
      <div [className]="'deco-line'"></div>
      <h5>Login</h5>
      <div [className]="'deco-line'"></div>
    </div>
    <div [className]="'container-input'">
      <label for="email">Email</label>
      <input
        [(ngModel)]="data.email"
        #email="ngModel"
        type="text"
        name="email"
        placeholder="email@example.com"
        [className]="'input-field'"
      />
      <app-error-text [error]="error.email" [text]="error.email" />
    </div>
    <div [className]="'container-input'">
      <label for="password">Password</label>
      <input
        [(ngModel)]="data.password"
        [type]="'password'"
        name="password"
        type="text"
        placeholder="password"
        [className]="'input-field'"
      />
      <app-error-text [error]="error.password" [text]="error.password" />
    </div>

    <div [className]="'container-checkbox'">
      <input
        type="checkbox"
        name="rememberMe"
        [className]="'remember-box'"
        [(ngModel)]="data.rememberMe"
      />
      <p>Remember me</p>
    </div>

    <app-button [status]="status" text="Login"></app-button>
    <p>
      Don't have an account?
      <a [routerLink]="'/auth/register'">Register here</a>
    </p>
  </form>
</div>
