<div [className]="'container'">
  <img src="assets/images/logo.png" alt="logo image" />

  <div [className]="'button-container'">
    <app-sidebar-button
      [text]="'Chats'"
      routerLink="/messages"
      iconName="forum"
      badgeNum="0"
    />

    <app-sidebar-button
      [text]="'Groups'"
      routerLink="/messages/groups"
      iconName="forum"
    />
    <app-sidebar-button [text]="'Your AI'" link="login" iconName="archive" />

    <div [className]="'separator'"></div>
    <app-sidebar-button [text]="'Profile'" link="profile" iconName="person" />
  </div>

  <app-sidebar-button
    [text]="'Log out'"
    iconName="logout"
    [onClick]="onLogout"
  />
</div>
