$purple-light: hsl(238, 85%, 92%);

.chatSlot {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  &--current {
    background: $purple-light;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
}

p {
  margin: 0;
  font-size: 12px;
}
h5 {
  margin: 0;
  font-weight: 600;
}

.chatSlot:hover {
  background: #eeeffa;
}

.avatar-container {
  border-radius: 16%;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.avatar {
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.chatSlot__information {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.chatSlot__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.latestActionDate {
  color: #90969d;
}

.latestMessage {
  color: #90969d;
  min-height: 14px;
}
