$self-bubble: #7375e8;
$other-bubble: #eeeffa;
$self-text: #e3e9f7;

p {
  margin: 0px;
  font-size: 13px;
}

h5 {
  margin: 0px;
  margin-right: 5px;
  margin-top: 6px;
  font-weight: 500;
  font-size: 11px;
  margin-left: 6px;
}
.message__container--self {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.message__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message__bubble--self {
  display: flex;
  max-width: 300px;
  background-color: $self-bubble;
  color: $self-text;
  padding: 8px 12px;
  border-radius: 14px;
  flex-direction: column;
  gap: 6px;
}

.message__bubble {
  max-width: 600px;

  display: flex;
  background-color: $other-bubble;
  padding: 8px 12px;
  border-radius: 10px;
  gap: 6px;
  align-self: flex-start; /* 👈 Prevent full-width stretch */
  @media (max-width: 660px) {
    max-width: 200px;
  }
}
