<div [className]="'container'">
  <app-sidebar />
  <div [className]="'container__chat'">
    <!-- chatlist -->
    <div [className]="'container__chatlist'">
      <div [className]="'container__search'">
        <div [className]="'searchIcon'">
          <mat-icon fontIcon="search"></mat-icon>
        </div>
        <input
          style="border: none"
          [className]="'searchBox'"
          type="text"
          placeholder="Search"
          [(ngModel)]="searchInput"
        />
      </div>
      <div [className]="'create-ai-button-container'">
        <button [className]="'create-ai-button'" (click)="openAddAIModal()">
          +
        </button>
      </div>
      <div>
        <app-chatslot
          *ngFor="let chatSlot of aiChatList"
          [chatSlot]="chatSlot"
          [type]="'ai'"
          [currentChatSlot]="chatId"
        />
      </div>
    </div>
    <!-- chatlist -->

    <!-- display messages -->
    <div [className]="chatId !== '' ? 'conversation' : 'conversation--hide'">
      <div [className]="'conversation__header'">
        <div [className]="'containter__back-button'">
          <div [className]="'back-button'" [routerLink]="'/messages'">
            <mat-icon svgIcon="back" aria-hidden="false"></mat-icon>
          </div>
          <div [className]="'name-status'">
            <p [className]="'conversation__name'">
              {{ currentChatSlot.name }}
            </p>
          </div>
        </div>
        <div [className]="'icons_container'">
          <div><mat-icon svgIcon="search" aria-hidden="false"></mat-icon></div>
          <div><mat-icon svgIcon="more" aria-hidden="false"></mat-icon></div>
        </div>
      </div>

      <div
        [className]="'conversation__content__container'"
        #messagesContainter
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollUpDistance]="2"
        [infiniteScrollThrottle]="100"
        [fromRoot]="false"
        [scrollWindow]="false"
        (scrolledUp)="onScroll()"
      >
        <div [className]="'messages'">
          <div
            [className]="'message'"
            *ngFor="let message of messages; let i = index"
          >
            <app-message
              [message]="message"
              [isSelfMessage]="!message.byAI"
              [showSenderName]="shouldShowSenderName(i)"
            />
          </div>
          <p>{{ responseText }}</p>
          <app-message-pending *ngIf="genContentState == 'pending'" />
        </div>
      </div>
      <!-- display messages -->

      <!-- input bar -->
      <div [className]="'conversation__input'">
        <div class="textarea-side-div">
          <app-message-button svgIcon="attach" />
        </div>

        <div [className]="'textarea-container'">
          <textarea
            #chatInput
            class="chat-textarea"
            [(ngModel)]="newMessage"
            (keydown)="handleKeyDown($event)"
            rows="1"
            placeholder="Aa"
            (input)="adjustHeight(chatInput)"
          >
          </textarea>
          <div [className]="'smile-container'">
            <mat-icon svgIcon="smile" aria-hidden="false"></mat-icon>
          </div>
        </div>

        <div class="textarea-side-div">
          <app-message-button svgIcon="send" (clicked)="sendMessage()" />
        </div>
      </div>
      <!-- input bar -->
    </div>
  </div>
</div>
